p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #0D0122;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5vw;
}

.grey {
  color: #8E8EAB;
  font-size: 1.2vw;
}

.top {
  text-align: center;
  background-color: #E7E7E7;
  height: 14vw;
  line-height: 14vw;
  width: 100%
}

.bottom {
  background-color: #E7E7E7;
  height: 24px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #8E8EAB;
  font-weight: 900;
  font-style: normal;
  font-size: 16px
}

.box {
  margin: 10px;
  width: 22vw;
  height: 10vw;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 2vw;

  padding: 40px;
  transition-duration: 0.2s;
  vertical-align: bottom;
}

.box2 {
  margin: 10px;
  width: 20%;
  height: 7vw;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 2vw;

  transition-duration: 0.2s;
}

.box3 {
  margin: 10px;
  width: 22vw;
  height: 22vw;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 2vw;
  padding: 0px;

  transition-duration: 0.3s;
}

.box4 {
  margin: 10px;
  width: 22vw;
  height: 13vw;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 2vw;
  padding: 0px;

  transition-duration: 0.3s;
  vertical-align: text-bottom;
}

.box5 {
  margin: 10px;
  width: 20%;
  height: 117px;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 2vw;
  vertical-align: text-bottom;

  transition-duration: 0.2s;
}

.box:hover {box-shadow: 0px 0px 20px #9890A9;}
.box2:hover {box-shadow: 0px 0px 20px #9890A9;cursor: pointer;transform: translateY(-5px);}
.box3:hover {box-shadow: 0px 0px 20px #9890A9;}
.box4:hover {box-shadow: 0px 0px 20px #9890A9;}
.box5:hover {box-shadow: 0px 0px 20px #9890A9;cursor: pointer;transform: translateY(-5px);}

.section1 {
  border-radius: 2vw;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 120px;
  width: 65%;
  padding: 40px;
}

.section2 {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  text-align:center;
}

.section3 {
  border-radius: 2vw;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 60%;
  padding: 15px;
  text-align:center;
}

.section4 {
  border-radius: 2vw;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 120px;
  width: 50%;
  padding: 40px; 
}

.section5 {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 20px;
  width: 75vw;
  text-align:center;
}

.section6 {
  border-radius: 2vw;
  background-color: #E7E7E7;
  width: 45%;
  padding: 40px;
  display:inline-block;
  margin: 10px;
  vertical-align: bottom;
  height: 37px;
}

.section7 {
  border-radius: 2vw;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 65%;
  padding: 40px;
}


body {
  margin: 0px;
  background-color: #C9C9D6;
}

.image {
  width: 85%; 
  height: 85%; 
  object-fit: cover;
  border-radius: 1vw;
  bottom: 7.5%;
  left: 7.5%;
  display: block;
  position: absolute;
}

.logo {
  object-fit: contain;
  height: 100%;
}

.bobbing {
  position: relative;
  animation: bobbing 2s ease-in-out infinite;
}

.bobbing:nth-child(2) {animation-delay: -0.2s;}
.bobbing:nth-child(3) {animation-delay: -0.4s;}
.bobbing:nth-child(4) {animation-delay: -0.6s;}
.bobbing:nth-child(5) {animation-delay: -0.8s;}
.bobbing:nth-child(6) {animation-delay: -1.0s;}
.bobbing:nth-child(7) {animation-delay: -1.2s;}
.bobbing:nth-child(8) {animation-delay: -1.4s;}
.bobbing:nth-child(9) {animation-delay: -1.6s;}

@keyframes bobbing {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}




.bouncing-text {
  display: inline-block;

  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #0D0122;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
  white-space: nowrap;
  letter-spacing: -0.4vw;
}

.bouncing-text span {   
  display: inline-block;
  animation: bounce 3s ease-in-out infinite;
}

.bouncing-text span:nth-child(1) {animation-delay: -1.05s;}
.bouncing-text span:nth-child(2) {animation-delay: -1s;}
.bouncing-text span:nth-child(3) {animation-delay: -0.95s;}
.bouncing-text span:nth-child(4) {animation-delay: -0.9s;}
.bouncing-text span:nth-child(5) {animation-delay: -0.85s;}
.bouncing-text span:nth-child(6) {animation-delay: -0.8s;}
.bouncing-text span:nth-child(7) {animation-delay: -0.75s;}
.bouncing-text span:nth-child(8) {animation-delay: -0.7s;}
.bouncing-text span:nth-child(9) {animation-delay: -0.65s;}
.bouncing-text span:nth-child(10) {animation-delay: -0.6s;}
.bouncing-text span:nth-child(11) {animation-delay: -0.55s;}
.bouncing-text span:nth-child(12) {animation-delay: -0.5s;}
.bouncing-text span:nth-child(13) {animation-delay: -0.45s;}
.bouncing-text span:nth-child(14) {animation-delay: -0.4s;}
.bouncing-text span:nth-child(15) {animation-delay: -0.35s;}
.bouncing-text span:nth-child(16) {animation-delay: -0.3s;}
.bouncing-text span:nth-child(17) {animation-delay: -0.25s;}
.bouncing-text span:nth-child(18) {animation-delay: -0.2s;}
.bouncing-text span:nth-child(19) {animation-delay: -0.15s;}
.bouncing-text span:nth-child(20) {animation-delay: -0.1s;}
.bouncing-text span:nth-child(21) {animation-delay: -0.05s;}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15px);
  }
  8%, 92% {
    transform: translateY(0px);
  }
}