body {
  margin: 0px;
  background-color: #C9C9D6;
}

html{
  min-height:100%;
  position:relative;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #0D0122;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2vw;
}

figcaption {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  font-weight: 900;
  font-style: normal;
  color: #8E8EAB;
  font-size: 1.2vw;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #0D0122;
  font-weight: 900;
  font-style: normal;
  font-size: 3vw;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #0D0122;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5vw;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0D0122;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0px;
  color: #E7E7E7;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;

  transition-duration: 0.2s;
}

li a:hover {
  background-color: #3B3670;
}



.top {
  text-align: center;
  background-color: #E7E7E7;
  height: 14vw;
  line-height: 14vw;
  width: 100%
}

.bottom-footer {
  background-color: #E7E7E7;
  height: 24px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.box1 {
  margin: 10px;
  width: 22vw;
  height: 10vw;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 24px;

  padding: 40px;
  transition-duration: 0.1s;
  vertical-align: bottom;
}

.box2 {
  margin: 10px;
  width: 22vw;
  height: 20vw;
  display:inline-block;
  padding: 0px;
  align-items: center;
  
  position: relative;
  vertical-align: text-bottom;
}

.box3 {
  margin: 10px;
  width: 20%;
  height: 117px;
  background-color: #E7E7E7;
  display:inline-block;
  border-radius: 24px;
  vertical-align: text-bottom;

  transition-duration: 0.1s;
}

.box1:hover {box-shadow: 0px 0px 20px #9890A9;}
.box3:hover {box-shadow: 0px 0px 20px #9890A9;cursor: pointer;transform: translateY(-5px);}

.section1 {
  border-radius: 24px;
  background-color: #E7E7E7;
  margin: auto;
  margin-top: 120px;
  width: 65%;
  padding: 40px;
}

.section2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 120px;
  width: 90%;
  text-align:center;
}

.section3 {
  border-radius: 24px;
  background-color: #E7E7E7;
  width: 45%;
  padding: 40px;
  display:inline-block;
  margin: 10px;
  vertical-align: bottom;
  height: 37px;
}

.image {
  width: 20vw; 
  height: 14vw; 
  object-fit: cover;
  border-radius: 0.5vw;
  display: block;
  margin: auto;
}

.logo {
  object-fit: contain;
  height: 100%;
}



.bouncing-text {
  display: inline-block;
  white-space: nowrap;
  letter-spacing: -0.4vw;
}

.bouncing-text span {   
  display: inline-block;
  animation: bounce 3s ease-in-out infinite;
}

.bouncing-text span:nth-child(1) {animation-delay: -1.05s;}
.bouncing-text span:nth-child(2) {animation-delay: -1s;}
.bouncing-text span:nth-child(3) {animation-delay: -0.95s;}
.bouncing-text span:nth-child(4) {animation-delay: -0.9s;}
.bouncing-text span:nth-child(5) {animation-delay: -0.85s;}
.bouncing-text span:nth-child(6) {animation-delay: -0.8s;}
.bouncing-text span:nth-child(7) {animation-delay: -0.75s;}
.bouncing-text span:nth-child(8) {animation-delay: -0.7s;}
.bouncing-text span:nth-child(9) {animation-delay: -0.65s;}
.bouncing-text span:nth-child(10) {animation-delay: -0.6s;}
.bouncing-text span:nth-child(11) {animation-delay: -0.55s;}
.bouncing-text span:nth-child(12) {animation-delay: -0.5s;}
.bouncing-text span:nth-child(13) {animation-delay: -0.45s;}
.bouncing-text span:nth-child(14) {animation-delay: -0.4s;}
.bouncing-text span:nth-child(15) {animation-delay: -0.35s;}
.bouncing-text span:nth-child(16) {animation-delay: -0.3s;}
.bouncing-text span:nth-child(17) {animation-delay: -0.25s;}
.bouncing-text span:nth-child(18) {animation-delay: -0.2s;}
.bouncing-text span:nth-child(19) {animation-delay: -0.15s;}
.bouncing-text span:nth-child(20) {animation-delay: -0.1s;}
.bouncing-text span:nth-child(21) {animation-delay: -0.05s;}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-15px);
  }
  8%, 92% {
    transform: translateY(0px);
  }
}