body {
  margin: 0;
  overflow: hidden;
}

#cameraContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  width: 50px;
  height: 50px;
  background-image: url("PixelEggs.png");
  background-color: white;
  border-radius: 15px;
  background-size: cover;
  border-width: 8px;
  border-style: solid;
  border-color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movingBox {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  background-size: cover;
  border-width: 8px;
  border-style: solid;
  border-color: black;
  position: absolute;
  cursor: pointer;

  background-image: url("Tulus.png");
}

.popup {
  border-radius: 15px;
  border-width: 8px;
  border-style: solid;
  border-color: black;

  position: absolute;
  z-index: 1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #9890a9;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  color: #0D0122;

  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transition: top 0.2s ease-out;
}

.grey {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  color: #8E8EAB;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.popup.show {
  top: 50%;
  opacity: 1;
}

.connectingLine {
  position: absolute;
  height: 3px;
  background-color: #000000; /* Adjust the color as needed */
  transform-origin: 0 0;
  pointer-events: none; /* Ignore mouse events on the lines */
  z-index: -1;
}

.popup-container.disabled {
  pointer-events: none;
}

#a {
  background-image: url("Tulus.png");
}
#b {
  background-image: url("MrTomo.webp");
}
#c {
  background-image: url("Bobbo.webp");
}
#d {
  background-image: url("Squirreal.webp");
}
#e {
  background-image: url("AgentTamy.webp");
}
#f {
  background-image: url("E.webp");
}
#g {
  background-image: url("DimensionalSpace.webp");
}
#h {
  background-image: url("PhiDra.webp");
}